* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #222;
}

.container {
  width: 90%;
  max-width: 470px;
  margin: 100px auto;
  color: #fff;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #03cdba;
}

.search {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #000;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.card {
  background: linear-gradient(135deg, #03cdba, #2b356a);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers everything inside the card */
  text-align: center;
}

.weather-icon {
  width: 100px; /* Adjust width as needed */
  margin-top: 20px;
  margin-bottom: 20px;
}

.temp {
  font-size: 40px;
}

.details {
  display: flex;
  justify-content: space-around; /* Distributes details evenly */
  width: 100%; /* Make sure details take full width */
  margin-top: 30px;
}

.icon {
  width: 35px;
  margin-right: 5px;
  vertical-align: middle;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.humidity, .wind {
  font-size: 28px;
}

.rain-predictions {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
}

.rain-predictions h1 {
  margin-top: 20px;
  background-color: #009879;
  padding: 15px;
  border-radius: 10px;
}

.rain-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.rain-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rain-col p {
  font-size: 14px;
  margin: 5px 0;
}
